<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="cMenu.Test.Metaobjects.Properties.Settings.DB_CMENUConnectionString"
        connectionString="Data Source=(local);Initial Catalog=DB_CMENU;Persist Security Info=True;User ID=sa;Password=Qwerty1"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
