USE [DB_CMENU]
GO
/****** Object:  Table [dbo].[T_KEYSEQ]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_KEYSEQ](
	[F_ID] [numeric](18, 0) IDENTITY(3,10) NOT NULL,
	[F_VALUE] [numeric](1, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_META_SEC]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_META_SEC](
	[F_USER_KEY] [numeric](18, 0) NOT NULL,
	[F_METAOBJECT_KEY] [numeric](18, 0) NOT NULL,
	[F_RIGHTS] [int] NOT NULL,
 CONSTRAINT [PK_T_META_SEC] PRIMARY KEY CLUSTERED 
(
	[F_USER_KEY] ASC,
	[F_METAOBJECT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_OBJ]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBJ](
	[F_OBJ_KEY] [numeric](18, 0) NOT NULL,
	[F_OBJ_ID] [nvarchar](max) NOT NULL,
	[F_OBJ_PARENT] [numeric](18, 0) NULL,
	[F_OBJ_CLASS] [int] NOT NULL,
	[F_OBJ_SYSTEM] [int] NULL,
	[F_OBJ_MOD] [datetime] NULL,
	[F_OBJ_STATUS] [int] NULL,
 CONSTRAINT [PK_T_OBJ] PRIMARY KEY CLUSTERED 
(
	[F_OBJ_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_OBJ_ATTR]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBJ_ATTR](
	[F_OBJ_KEY] [numeric](18, 0) NOT NULL,
	[F_OBJ_ATTR_ID] [nvarchar](100) NOT NULL,
	[F_OBJ_ATTR_VALUE] [image] NULL,
	[F_LOCALE] [int] NOT NULL,
 CONSTRAINT [PK_T_OBJ_ATTR] PRIMARY KEY CLUSTERED 
(
	[F_OBJ_KEY] ASC,
	[F_OBJ_ATTR_ID] ASC,
	[F_LOCALE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_OBJ_COMMENTS]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBJ_COMMENTS](
	[F_OBJ_KEY] [numeric](18, 0) NULL,
	[F_COM_KEY] [numeric](18, 0) NOT NULL,
	[F_COM_ID] [nvarchar](max) NULL,
	[F_COM_AUTHOR] [nvarchar](max) NULL,
	[F_COM_AUTHOR_MAIL] [nvarchar](max) NULL,
	[F_COM_DT] [datetime] NULL,
	[F_COM_VALUE] [nvarchar](max) NULL,
	[F_COM_PARENT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_T_OBJ_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[F_COM_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_OBJ_LINKS]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBJ_LINKS](
	[F_OBJ_KEY] [numeric](18, 0) NOT NULL,
	[F_LINK_OBJ_KEY] [numeric](18, 0) NOT NULL,
	[F_LINK_VALUE] [numeric](18, 0) NULL,
	[F_LINK_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_T_OBJ_LINKS] PRIMARY KEY CLUSTERED 
(
	[F_OBJ_KEY] ASC,
	[F_LINK_OBJ_KEY] ASC,
	[F_LINK_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ORDERS]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ORDERS](
	[F_ORDER_KEY] [numeric](18, 0) NOT NULL,
	[F_ORDER_ID] [nvarchar](max) NULL,
	[F_SESSION_KEY] [numeric](18, 0) NULL,
	[F_ORDER_DT] [datetime] NULL,
 CONSTRAINT [PK_T_ORDERS] PRIMARY KEY CLUSTERED 
(
	[F_ORDER_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ORDERS_AMOUNTS]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ORDERS_AMOUNTS](
	[F_ORDER_KEY] [numeric](18, 0) NOT NULL,
	[F_AMOUNT_KEY] [numeric](18, 0) NOT NULL,
	[F_AMOUNT] [int] NULL,
 CONSTRAINT [PK_T_ORDERS_AMOUNTS] PRIMARY KEY CLUSTERED 
(
	[F_ORDER_KEY] ASC,
	[F_AMOUNT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_RDS_ATTR]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_RDS_ATTR](
	[F_ATTR_KEY] [numeric](18, 0) NOT NULL,
	[F_ATTR_ID] [varchar](max) NOT NULL,
	[F_ATTR_NAME] [varchar](max) NOT NULL,
	[F_ATTR_TYPE] [int] NOT NULL,
	[F_ATTR_IS_HIDDEN] [int] NOT NULL,
	[F_ATTR_DICT_KEY] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_T_RDS_DICT_ATTRIBUTES] PRIMARY KEY CLUSTERED 
(
	[F_ATTR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_RDS_ELEM]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RDS_ELEM](
	[F_ELEM_KEY] [numeric](18, 0) NOT NULL,
	[F_ELEM_VERSION] [numeric](18, 0) NOT NULL,
	[F_ELEM_DICT_KEY] [numeric](18, 0) NOT NULL,
	[F_ELEM_PARENT] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_T_RDS_ELEM_1] PRIMARY KEY CLUSTERED 
(
	[F_ELEM_VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_RDS_ELEM_DATA]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RDS_ELEM_DATA](
	[F_ELEM_VERSION] [numeric](18, 0) NOT NULL,
	[F_ATTR_KEY] [numeric](18, 0) NOT NULL,
	[F_VALUE] [image] NULL,
	[F_LANG] [int] NOT NULL,
 CONSTRAINT [PK_T_RDS_ELEM_DATA_1] PRIMARY KEY CLUSTERED 
(
	[F_ELEM_VERSION] ASC,
	[F_ATTR_KEY] ASC,
	[F_LANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_RDS_ELEM_KEYSEQ]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RDS_ELEM_KEYSEQ](
	[F_ID] [numeric](18, 0) IDENTITY(2,10) NOT NULL,
	[F_VALUE] [numeric](1, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_RDS_ELEM_VERSEQ]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RDS_ELEM_VERSEQ](
	[F_ID] [numeric](18, 0) IDENTITY(1,10) NOT NULL,
	[F_VALUE] [numeric](1, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_RDS_LINKS]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RDS_LINKS](
	[F_LINK_KEY] [numeric](18, 0) NOT NULL,
	[F_LINK_ID] [nvarchar](max) NULL,
	[F_LINK_NAME] [nvarchar](max) NULL,
	[F_LINK_ATTR_KEY] [numeric](18, 0) NOT NULL,
	[F_LINK_LINKED_ATTR_KEY] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_T_RDS_LINKS_1] PRIMARY KEY CLUSTERED 
(
	[F_LINK_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SESSION]    Script Date: 04.09.2012 23:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SESSION](
	[F_USER] [numeric](18, 0) NOT NULL,
	[F_SES_DEADLINE] [datetime] NOT NULL,
	[F_SES_KEY] [numeric](18, 0) NOT NULL,
	[F_SES_ID] [nvarchar](max) NOT NULL,
	[F_SES_STATUS] [int] NULL,
	[F_SES_VAR] [image] NULL,
	[F_SES_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_T_SESSION] PRIMARY KEY CLUSTERED 
(
	[F_SES_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_META_SEC]  WITH CHECK ADD  CONSTRAINT [FK_T_META_SEC_T_OBJ] FOREIGN KEY([F_METAOBJECT_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_META_SEC] CHECK CONSTRAINT [FK_T_META_SEC_T_OBJ]
GO
ALTER TABLE [dbo].[T_OBJ_ATTR]  WITH CHECK ADD  CONSTRAINT [FK_T_OBJ_ATTR_T_OBJ] FOREIGN KEY([F_OBJ_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_OBJ_ATTR] CHECK CONSTRAINT [FK_T_OBJ_ATTR_T_OBJ]
GO
ALTER TABLE [dbo].[T_OBJ_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_T_OBJ_COMMENTS_T_OBJ] FOREIGN KEY([F_OBJ_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_OBJ_COMMENTS] CHECK CONSTRAINT [FK_T_OBJ_COMMENTS_T_OBJ]
GO
ALTER TABLE [dbo].[T_OBJ_LINKS]  WITH CHECK ADD  CONSTRAINT [FK_T_OBJ_LINKS_T_OBJ] FOREIGN KEY([F_OBJ_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
GO
ALTER TABLE [dbo].[T_OBJ_LINKS] CHECK CONSTRAINT [FK_T_OBJ_LINKS_T_OBJ]
GO
ALTER TABLE [dbo].[T_OBJ_LINKS]  WITH CHECK ADD  CONSTRAINT [FK_T_OBJ_LINKS_T_OBJ1] FOREIGN KEY([F_LINK_OBJ_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
GO
ALTER TABLE [dbo].[T_OBJ_LINKS] CHECK CONSTRAINT [FK_T_OBJ_LINKS_T_OBJ1]
GO
ALTER TABLE [dbo].[T_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_T_ORDERS_T_SESSION] FOREIGN KEY([F_SESSION_KEY])
REFERENCES [dbo].[T_SESSION] ([F_SES_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_ORDERS] CHECK CONSTRAINT [FK_T_ORDERS_T_SESSION]
GO
ALTER TABLE [dbo].[T_ORDERS_AMOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_T_ORDERS_AMOUNTS_T_ORDERS] FOREIGN KEY([F_ORDER_KEY])
REFERENCES [dbo].[T_ORDERS] ([F_ORDER_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_ORDERS_AMOUNTS] CHECK CONSTRAINT [FK_T_ORDERS_AMOUNTS_T_ORDERS]
GO
ALTER TABLE [dbo].[T_RDS_ATTR]  WITH CHECK ADD  CONSTRAINT [FK_T_RDS_ATTR_T_OBJ] FOREIGN KEY([F_ATTR_DICT_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_RDS_ATTR] CHECK CONSTRAINT [FK_T_RDS_ATTR_T_OBJ]
GO
ALTER TABLE [dbo].[T_RDS_ELEM]  WITH CHECK ADD  CONSTRAINT [FK_T_RDS_ELEM_T_OBJ] FOREIGN KEY([F_ELEM_DICT_KEY])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_RDS_ELEM] CHECK CONSTRAINT [FK_T_RDS_ELEM_T_OBJ]
GO
ALTER TABLE [dbo].[T_RDS_ELEM_DATA]  WITH CHECK ADD  CONSTRAINT [FK_T_RDS_ELEM_DATA_T_RDS_ATTR] FOREIGN KEY([F_ATTR_KEY])
REFERENCES [dbo].[T_RDS_ATTR] ([F_ATTR_KEY])
GO
ALTER TABLE [dbo].[T_RDS_ELEM_DATA] CHECK CONSTRAINT [FK_T_RDS_ELEM_DATA_T_RDS_ATTR]
GO
ALTER TABLE [dbo].[T_RDS_ELEM_DATA]  WITH CHECK ADD  CONSTRAINT [FK_T_RDS_ELEM_DATA_T_RDS_ELEM] FOREIGN KEY([F_ELEM_VERSION])
REFERENCES [dbo].[T_RDS_ELEM] ([F_ELEM_VERSION])
GO
ALTER TABLE [dbo].[T_RDS_ELEM_DATA] CHECK CONSTRAINT [FK_T_RDS_ELEM_DATA_T_RDS_ELEM]
GO
ALTER TABLE [dbo].[T_RDS_LINKS]  WITH CHECK ADD  CONSTRAINT [FK_T_RDS_LINKS_T_RDS_ATTR] FOREIGN KEY([F_LINK_ATTR_KEY])
REFERENCES [dbo].[T_RDS_ATTR] ([F_ATTR_KEY])
GO
ALTER TABLE [dbo].[T_RDS_LINKS] CHECK CONSTRAINT [FK_T_RDS_LINKS_T_RDS_ATTR]
GO
ALTER TABLE [dbo].[T_RDS_LINKS]  WITH CHECK ADD  CONSTRAINT [FK_T_RDS_LINKS_T_RDS_ATTR1] FOREIGN KEY([F_LINK_LINKED_ATTR_KEY])
REFERENCES [dbo].[T_RDS_ATTR] ([F_ATTR_KEY])
GO
ALTER TABLE [dbo].[T_RDS_LINKS] CHECK CONSTRAINT [FK_T_RDS_LINKS_T_RDS_ATTR1]
GO
ALTER TABLE [dbo].[T_SESSION]  WITH CHECK ADD  CONSTRAINT [FK_T_SESSION_T_OBJ] FOREIGN KEY([F_USER])
REFERENCES [dbo].[T_OBJ] ([F_OBJ_KEY])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_SESSION] CHECK CONSTRAINT [FK_T_SESSION_T_OBJ]
GO
